
<div class="flex justify-center mb-4 h-24 min-h-full">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="mb-4">
            <%= f.label :email, class: "block text-gray-700 text-sm font-bold"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", 
            class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none 
                    focus:shadow-outline focus:outline-none focus:border-teal-500 focus:ring-1 focus:ring-teal-500" %>
        </div>
        <div class="mb-2">
          <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none 
                    focus:shadow-outline focus:outline-none focus:border-teal-500 focus:ring-1 focus:ring-teal-500" %>
        </div>

        <div class="mb-2">
          <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me, class: "accent-pink-500" %>
              <%= f.label :remember_me, class: "font-light text-sm"%>
          <% end %>
        </div>
        
        <div class="flex flex-col">
          <%= f.submit "Log in", class: "bg-teal-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline  mb-2" %>
          <%= render "devise/shared/links" %>
        </div>

      </form>
      <p class=" m-2 text-gray-500 text-xs">
        &copy;2020 AirBnB. All rights reserved.
      </p>
    </div>
  <% end %>
</div>